.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
  position: relative;
}

.navItem {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.active {
  color: #ffcc00;
}

.navLink:hover {
  color: #ffcc00;
}
