.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 20rem;
  margin: 1rem auto;
}

.movieCard:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.movieCardImg {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.movieCardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.movieTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movieActions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}
